[Desktop Entry]
Encoding=UTF-8
Name=Link to MultiStackReg v1.45
Type=Link
URL=http://bradbusse.net/MultiStackReg1.45_.jar
Icon=application-java-archive
